<!-- NAVBAR -->
<nav class="navbar">
    <div class="container">
        <a routerLink="/">
            <div class="toggle">
                <span></span>
            </div>
        </a>
        <div class="navbar-brand">
            <a href="#">
                <img src="assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="pay-logo">
            <a routerLink="/payment" title="pay">
                <img class="img-fluid" src="assets/images/pay-logo.png" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Detail</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->
