<app-header></app-header>
<!-- PAYMENT FORM -->
<section class="payment-form mt-2">
    <div class="container">
        <h3>Payment Center</h3>
        <p>Select the City and Category duration time for ad listing</p>
        <form #f="ngForm" (ngSubmit)="f.form.valid" class="mt-4" id="payment-form" enctype="multipart/form-data" novalidate="novalidate">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="name" required>
            </div>
            <div class="form-group">
                <input class="form-control"
                       required
                       minlength="10"
                       maxlength="14"
                       pattern="[0-9]+"
                       name="phone"
                       type="tel"
                       mask="0-000-000-0000"
                       placeholder="Phone Number"
                       [showMaskTyped]="false"
                       #mobile_phone="ngModel"
                       [(ngModel)]="phone">
            </div>
            <div class="form-group">
                <select class="form-select" name="city" [(ngModel)]="cityId" required>
                    <option value="">Select City</option>
                    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-select" name="categoryType" [(ngModel)]="categoryTypeId" (change)="filterCategories()" required>
                    <option value="">Select Category Type</option>
                    <option *ngFor="let cat of categoryTypes" [value]="cat.id">{{ cat.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-select" name="category" [(ngModel)]="categoryId" (change)="filterPricePackage()" required>
                    <option value="">Select A Category</option>
                    <option *ngFor="let cat of categoriesToShow" [value]="cat.id">{{ cat.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-select" name="amount" [(ngModel)]="amount" required>
                    <option *ngFor="let money of selectedAmountData" [value]="money.value">{{ money.label }}</option>
                </select>
            </div>
            <div class="form-group">

                <label>Select Date Run</label>
                <div class="input-group">

                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="uploadDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div id="card-errors" class="alert-danger"></div>
                <div id="card-element"></div>
            </div>
            <div class="form-group">
            <button type="submit" class="pay-btn mt-3" title="pay now" [disabled]="showLoader">Pay Now <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i></button>
            </div>
        </form>
        <div class="powered mt-5 text-center">
            <img class="img-fluid" src="assets/images/stripe-img.jfif" alt="">
        </div>

        <div class="copyright">
            <p>Citygrabs © 2021</p>
        </div>
    </div>
</section>
<!-- END PAYMENT FORM -->
