

<!-- MAIN CONTENT -->
<section class="main-content position-relative">
    <div class="container">
        <div class="home-search d-flex align-items-center justify-content-center flex-column">
            <div class="search-logo position-relative">
                <img class="img-fluid" src="/assets/images/logo.png" alt="">
            </div>
            <div class="form-group mt-3 mb-0 position-relative">
                <span class="fas fa-map-marker-alt map_marker d-none"></span>
                <div class="easy-autocomplete position-relative">
                    <div class="ng-autocomplete">
                        <ng-autocomplete
                            [data]="data"
                            [searchKeyword]="keyword"
                            (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"
                            placeholder="Search City"
                        >
                        </ng-autocomplete>

                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.name"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <h1 class="mt-3">Local City Phonebook</h1>
        </div>
    </div>
</section>
<!-- END MAIN CONTENT -->

<!-- FOOTER LINKS -->
<div class="footer-links">
    <a href="{{ amdinUrl }}" title="Admin" target="_blank" class="color-white">Admin</a>
    <a href="/request-form" title="Request Form" target="_blank" class="color-white">Request Form</a>
</div>
