<app-header></app-header>
<i class="fa fa-2x fa-spinner fa-spin loaderSpinner" *ngIf="showLoader"></i>
<!-- SLIDER -->
<small class="color-red" style="margin-left: 10px;" *ngIf="showReloadMsg">
    Something went wrong. Please <a href="#" (click)="reload($event)">reload</a> this page.
</small>
<section class="weekly-deals mt-1 position-relative">
    <div class="container">
        <div class="wrapper">
            <p>{{ city.name }}</p>
            <div class="search-input">
                <a href="" target="_blank" hidden></a>

                <ng-autocomplete
                    #auto
                    [data]="searchableCategories"
                    [searchKeyword]="keyword"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    [(ngModel)]="this.searchableCategory"
                    placeholder="Search a business Category"
                >
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
        <h2>Popular Categories!</h2>
        <div class="mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let cat of categories">
                    <ng-template [width]="(cat.name.length*15)<=60?70:(cat.name.length*15)" carouselSlide [id] = "cat.id">
                        <div [ngClass]="{'red-background': cat.id === 1}" class="category-item" (click)="filterAd(cat)">{{ cat.name }}</div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
            <div class="jobs-links mt-1 d-flex align-items-center justify-content-center position-relative">
                <a href="javascript:;" class="" *ngFor="let cat of prominentCategories" (click)="filterAd(cat)" [title]="cat.name">{{ cat.name }}</a>
            </div>
        </div>
    </div>
</section>
<!-- END SLIDER -->

<!-- DEALS IMAGES -->
<div class="deals mt-2">
    <div class="container">
        <div class="deals-img">
            <img [src]="imageBaseUrl + '/' + footerAdImg" *ngIf="footerAdImg" class="footer-ad-img">
            <img [src]="imageBaseUrl + '/' + wallAdImg" *ngIf="wallAdImg" class="wall-ad-img">
            <div class="no-footer-img" *ngIf="!footerAdImg">
                Category Wall Banner
            </div>
            <div class="no-wall-ad-img" *ngIf="!wallAdImg">
                Fixed Footer Banner Ad
            </div>
            <p [innerText]="selectedName" class="color-red font-weight-bold"></p>
            <hr style="width: 75%; margin: 5px auto;">
            <div *ngFor="let advertisement of advertisements; let i = index">
                <!-- Calling ''/-->
                <app-tile [data]="advertisement" [dataIndex]="i"  [loading]="loading"></app-tile>
            </div>
            <div *ngIf="advertisements.length == 0 && !showLoader">
                No advertisement found
            </div>
        </div>
    </div>
</div>
