#popupImageModal .modal-body{
    width: 100%;
}

#popupImageModal .modal-content{
    background: none;
}

.full-width-img{
    width: 100%;
}

.color-red {
    color: red;
}



.red-background{
    background: red;
    border: 2px solid red;
}

.footer-box{
    padding-bottom: 10px;
}

/*@media (max-width: 576px) {*/
/*    .jobs-links a:first-child {*/
/*        font-size: 15px;*/
/*        font-weight: 100;*/
/*    }*/
/*}*/


/*.jobs-links a {*/
/*    font-weight: 100;*/
/*}*/

@font-face {
    font-family: 'Franklin';
    src: url("../../../assets/font/Franklin-Regular.ttf");
}

.category-links a {
    font-family: Franklin !important;
}

/*.jobs-links a:nth-child(2){*/
/*    color:#000;*/
/*}*/


/*.jobs-links a{*/
/*color:#000;*/
/*}*/

