.deals-img {
    padding-bottom: 90px !important;
}

.main-description {
    font-family: Arial !important;
    font-size:  15px !important;
}

#popupImageModal .modal-body{
    width: 100%;
}

#popupImageModal .modal-content{
    background: none;
}

.full-width-img{
    width: 100%;
}

.color-red {
    color: red;
}

.red-background{
    background: red;
    border: 2px solid red;
}

.footer-box{
    padding-bottom: 10px;
}
::ng-deep .modal-open .modal {
    background: white !important;
}

.popup-main-title {
    background: black;
    padding: 10px;
    color: white;
    margin: 0px -8px -8px -8px;
    text-transform: uppercase;
    font-size: 14px;
}

::ng-deep .btn-close {
    background-color: grey;
    width: 2em;
    height: 2em;
    border-radius: 50px;
}
/*@media (max-width: 576px) {*/
/*    .jobs-links a:first-child {*/
/*        font-size: 15px;*/
/*        font-weight: 100;*/
/*    }*/
/*}*/


/*.jobs-links a {*/
/*    font-weight: 100;*/
/*}*/

@font-face {
    font-family: 'Franklin';
    src: url("../../../assets/font/Franklin-Regular.ttf");
}

.category-links a {
    font-family: Franklin !important;
}

/*.jobs-links a:nth-child(2){*/
/*    color:#000;*/
/*}*/


/*.jobs-links a{*/
/*color:#000;*/
/*}*/

