<app-header></app-header>
<i class="fa fa-2x fa-spinner fa-spin loaderSpinner" *ngIf="showLoader"></i>
<!-- SLIDER -->
<small class="color-red" style="margin-left: 10px;" *ngIf="showReloadMsg">
    Something went wrong. Please <a href="#" (click)="reload($event)">reload</a> this page.
</small>
<section class="weekly-deals mt-2 position-relative">
    <div class="container">
        <h2>Select a weekly deal!</h2>
        <div class="mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let cat of categories">
                    <ng-template [width]="(cat.name.length*15)<=60?70:(cat.name.length*15)" carouselSlide [id] = "cat.id">
                        <div  class="item" (click)="filterAddByCategory(cat)">{{ cat.name }}</div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
            <div class="jobs-links mt-2 d-flex align-items-center justify-content-between">
                <a href="javascript:;" *ngFor="let cat of prominentCategories" (click)="filterAddByCategory(cat)" [title]="cat.name">{{ cat.name }}</a>
            </div>
        </div>
    </div>
</section>
<!-- END SLIDER -->

<!-- DEALS IMAGES -->
<div class="deals mt-2">
    <div class="container">
        <div class="deals-img">
            <ng-template ngFor let-advertisement [ngForOf]="advertisements">
                <img *ngIf="advertisement.popup_image" class="img-fluid" [src]="imageBaseUrl + '/' + advertisement.main_image " data-bs-toggle="modal" data-bs-target="#popupImageModal" (click)="setPopUpImage(advertisement.popup_image)" alt=" ">
                <img *ngIf="!advertisement.popup_image" class="img-fluid" [src]="imageBaseUrl + '/' + advertisement.main_image" alt=" ">
                <hr class="dropdown-divider">
            </ng-template>
            <div *ngIf="advertisements.length == 0 && !showLoader">
                No advertisement found
            </div>
        </div>
    </div>
</div>
<!-- DEALS IMAGES -->

<!-- FOOTER -->
<footer class="footer text-center">
    <div class="footer-btn">
        <a href="javascript:;" title="nassau" [innerHTML]="city.name"></a>
    </div>
</footer>

<!-- MODAL 1 -->
<div class="modal fade" id="popupImageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid full-width-img" [src]="imageBaseUrl + '/' + popUpImage" alt="">
            </div>
        </div>
    </div>
</div>
<!-- END MODAL 1 -->
