<app-header></app-header>
<i class="fa fa-2x fa-spinner fa-spin loaderSpinner" *ngIf="showLoader"></i>
<!-- SLIDER -->
<small class="color-red" style="margin-left: 10px;" *ngIf="showReloadMsg">
    Something went wrong. Please <a href="#" (click)="reload($event)">reload</a> this page.
</small>
<section class="weekly-deals mt-3 position-relative">
    <div class="container">
        <div class="wrapper">
            <div class="search-input">
                <a href="" target="_blank" hidden></a>

                <ng-autocomplete
                    #auto
                    [data]="searchableCategories"
                    [searchKeyword]="keyword"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    [(ngModel)]="this.searchableCategory"
                    placeholder="Search a business Category"
                >
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
        <h2>Popular Categories!</h2>
        <div class="mt-2">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let cat of categories">
                    <ng-template [width]="(cat.name.length*15)<=60?70:(cat.name.length*15)" carouselSlide [id] = "cat.id">
                        <div [ngClass]="{'red-background': cat.id === 1}" class="category-item" (click)="filterAd(cat)">{{ cat.name }}</div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
            <div class="jobs-links mt-1 d-flex align-items-center justify-content-center position-relative">
                <a href="javascript:;" class="" *ngFor="let cat of prominentCategories" (click)="filterAd(cat)" [title]="cat.name">{{ cat.name }}</a>
            </div>
        </div>
    </div>
</section>
<!-- END SLIDER -->

<!-- DEALS IMAGES -->
<div class="deals mt-2">
    <div class="container">
        <div class="deals-img">
            <p [innerText]="selectedName" class="color-red font-weight-bold"></p>
            <ng-template ngFor let-advertisement [ngForOf]="advertisements">
                <div class="banks-meta d-flex mt-3">
                    <div class="banks-img">
                        <img class="img-fluid" [src]="imageBaseUrl + '/' + advertisement.main_image" alt=" ">
                    </div>
                    <div class="banks-content">
                        <h2 class="advertisement-title">{{ advertisement.title }}</h2>
                        <p class="ml-2" [hidden]="!advertisement.address"><small>{{ advertisement.address }}</small></p>
                        <div class="contact-icons d-flex">
                            <div class="svg-icon" [hidden]="!advertisement.phone" (click)="initiateCall(advertisement)">
                                <svg class="icon icon-telephone" width="14" height="14">
                                    <use href="assets/images/sprite.svg#telephone"></use>
                                </svg>
                            </div>
                            <div class="svg-icon" [hidden]="advertisement.popupImages.length === 0" data-bs-toggle="modal" data-bs-target="#popupImageModal" (click)="setPopUpImage(advertisement.popupImages)">
                                <svg class="icon icon-speaker" width="14" height="14">
                                    <use href="assets/images/sprite.svg#speaker"></use>
                                </svg>
                            </div>

                            <div class="svg-icon" [hidden]="!advertisement.website" data-bs-toggle="modal"  (click)="openLink(advertisement.website)">
                                <img src="assets/images/internet_new.svg" alt="blabla_is_working" >
                            </div>

                            <div class="svg-icon" [hidden]="!advertisement.gps_link" data-bs-toggle="modal"  (click)="openLink(advertisement.gps_link)">

                                <img src="assets/images/pin.svg" alt="blabla_is_working" style="width: 50%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-para mt-3">
                    <p class="main-description" [innerText]="advertisement.description"></p>
                </div>
                <hr class="dropdown-divider">
            </ng-template>
            <div *ngIf="advertisements.length == 0 && !showLoader">
                No advertisement found
            </div>
        </div>
    </div>
</div>
<!-- DEALS IMAGES -->

<!-- FOOTER -->
<footer class="footer text-center">
    <div class="container">
        <div class="footer-box">
            <div class="footer-btn pt-4">
<!--                <div *ngIf="showLoadMore && !showLoader">-->
<!--                    <a href="javascript:;" (click)="loadMore()" class="load-more">Load More Ads...</a>-->
<!--                </div>-->
                <a href="javascript:;" class="city-name" [title]="city.name" [innerHTML]="city.name"></a>
            </div>
            <div class="foot-links mt-5">
                <a href="javascript:;" *ngFor="let link of footerLinks" [title]="link.title" [innerHTML]="link.title" (click)="getShopping($event, link)"></a>
            </div>
            <a href="javascript:;" class="float-right footer-links-close" (click)="hideShoppings()" *ngIf="showShopping"><i class="fa fa-times"></i></a>
            <div class="logos-slider" *ngIf="showShopping">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let shop of shoppings">
                        <ng-template [width]="207.667" carouselSlide [id]="shop.id">
                            <div class="item">
                                <a href="javascript:;" (click)="filterAdvertisementByShopping(shop)">
                                    <img [src]="imageBaseUrl + '/' + shop.image_url" [alt]="shop.title">
                                </a>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</footer>

<!-- MODAL 1 -->
<div class="modal fade" id="popupImageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-images" [ngClass]="(!first)?'mt-3':''" *ngFor="let img of this.popupImages; let first = first">
                    <div class="deals-img-icons position-relative" [hidden]="!img.phone">
                        <div class="img-icons d-flex align-items-center">
                            <div class="svg-icon" (click)="initiateCall(img)">
                                <svg class="icon icon-telephone" width="14" height="14">
                                    <use href="assets/images/sprite.svg#telephone"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <img class="img-fluid full-width-img" [src]="imageBaseUrl + '/' + img.image_url" alt="">
                    <p [innerText]="img.description"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL 1 -->
