@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.owl-carousel .category-item {
    display: block;
    font-size: 16px;
    font-weight: 100;
    background: #3056d3;
    padding: 5px 10px;
    border: 2px solid #3056d3;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.autocomplete-container .suggestions-container {
    z-index: 9999 !important;
}

.owl-item {
    width: auto;
}


.deals-img img{
    border-radius: 5px;
}
